@tailwind base;
@tailwind components;
@tailwind utilities;

// Header
.header{
  display: grid;
  grid-template-areas: "header-logo header-menu header-icons";
  grid-template-columns: 1fr 2fr 1fr;
  .header_logo{
    grid-area: header-logo;
  }
  .header_menu{
    grid-area: header-menu;
  }
  .header_icons{
    grid-area: header-icons;
  }

  @media (max-width: 768px) {
    grid-template-areas: "header-menu header-logo header-icons";
  }
  // submenu
  .nav_item{
    &:hover{
      .dropdown-child{
        display: block;
      }
    }

    .dropdown-child{
      display: none;
    }
  }
  .child_nav_item{
    &:hover{
      .dropdown-grandchild{
        display: block;
      }
    }
    .dropdown-grandchild{
      display: none;
    }
  }

}
